extends ../news/index
block shows
    .rows
        each item in news
            .col-md-12.d-flex.ftco-animate(style="text-align: justify; max-height: 200px")
                .blog-entry.align-self-stretch.d-md-flex.mb-1
                    a.block-20(href=item.id)
                        img(src=item.image, alt="No Images", style='max-width: 100%;max-height: 200px')
                    .text.d-block.pl-md-4(style='text-align: justify')
                        span= item.address
                        a(href=item.id)
                            h3.heading= item.name
                        span(style="font-size: 12px")= item.description
                        p
                            a.btn.btn-primary.py-2.px-3(href=item.id, style='font-size: 12px') Chi tiết
                                span.fa.fa-arrow-right.ml-2(style='font-size: 10px')
            br
            hr

                        
