extends ../../layouts/admin
block content

    main
        .container-fluid
            h1.mt-4 Danh sách sản phẩm
            ol.breadcrumb.mb-4
                li.breadcrumb-item
                    a(href='/admin') Admin
                li.breadcrumb-item.active Product
            .card.mb-4
                .card-header
                    .row
                        .col-sm-9.col-md-10
                            i.fas.fa-table.mr-1
                            span Danh sách sản phẩm
                        .col-sm-3.col-md-2
                            a.btn.btn-primary(href="/admin/products/create") Thêm mới
                .card-body
                    .table-responsive
                        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                            thead
                                tr
                                    th STT
                                    th Hình ảnh
                                    th Tên
                                    th Thương hiệu
                                    th Giá
                                    th Màu chính
                                    th Tác vụ
                            tbody
                                if(products)
                                    each product, index in products
                                        tr
                                            td= index + 1
                                            td
                                                img(src= product.images[0].url, style="width: 100px; height: 100px")
                                            td= product.name
                                            td= product.producer.name
                                            td= product.price
                                            td= product.color[0].name
                                            td
                                                //- a.mb-2(href="/admin/views/id="+ seed.id).btn.btn-primary= seed.new? 'Mới': 'Cũ'
                                                a(href="/admin/views/update="+ product.id).btn.btn-success Sửa
                                                a(href="/admin/views/delete="+ product.id,).btn.btn-danger Xóa
                                else
                                    p No product   

