extends ../../layouts/admin
block content

    .container-fluid.mt-4
        .card.mb-4
            .card-header
                h3 Nhập thông sản phẩm
            .card-body
                form(method="POST", enctype="multipart/form-data", onsubmit="return validateForm()")

                    .row
                        .col-md-6
                            label Tên sản phẩm
                            .form-group.d-flex
                                input#check-1.form-control(type="text", name="name" value=product.name)
                                label#error-1.lable-error
                        
                        .col-md-6
                            label Thương hiệu
                            .form-group
                                select.form-control(name="producer")
                                    each producer in producers
                                        option(value= producer._id)= producer.name
                    .row 
                        .col-md-6
                            label Giá
                            .form-group.d-flex
                                input#check-3.form-control(type="text", name="price", value=product.price)
                                label#error-3.lable-error

                        .col-md-6 
                            label Màu sắc
                            .form-group.d-flex
                                select.form-control(name="color")
                                    each color in colors
                                        option(value= color._id)=color.name

                    .row
                        .col-md-12
                            label Size
                            .form-group.d-flex
                                select.form-control(name="size")
                                    each size in sizes
                                        //- option(value= size._id, selected= (size._id == product.color[0]._id))= size.name

                    label Mô tả sản phẩm
                    .form-group.d-flex
                        input#check-3.form-control(type="text", name="description", value=product.description)
                        label#error-3.lable-error

                    label Chọn ảnh
                    .form-group
                        input.input-file(type="file", name='image', value= product.images[0].url)

                    .form-group
                        button.btn.btn-primary(type="submit", name="upload") Thêm mới